<form [formGroup]="filterForm">
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="department" [ngModelOptions]="{ standalone: true }" (selectionChange)="departmentChanged()">
                <mat-option value="biochemistry">Biochemistry</mat-option>
                <mat-option value="microbiology">Microbiology</mat-option>
                <mat-option value="otorhinolaryngology">Otorhinolaryngology (ENT)</mat-option>
                <mat-option value="parasitology">Parasitology</mat-option>
                <mat-option value="pharmacology">Pharmacology</mat-option>
                <mat-option value="physiology">Physiology</mat-option>
                <mat-option value="preventive and social medicine">Preventive and Social Medicine</mat-option>
                <mat-option value="radiology">Radiology</mat-option>
                <mat-option value="rehabilitation medicine">Rehabilitation Medicine</mat-option>
            </mat-select>
        </mat-form-field>
    
        <div class="mat-elevation-z8">
            <table mat-table #entriesTable [dataSource]="dataSource" matSort>
    
                <ng-container matColumnDef="filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length" style="height:auto">
                        <div fxLayout="column" fxLayoutGap="16px" >
                            <button mat-button (click)="showFilter = !showFilter" fxFlexOffset="16px">
                                <mat-icon>
                                    filter_list
                                </mat-icon>
                                Filter
                            </button>
                            <mat-expansion-panel [expanded]="showFilter" hideToggle class="mat-elevation-z0">
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="16px" fxLayoutGap="8px" fxLayoutAlign="center center">
                                
                                    <mat-slide-toggle formControlName="isAuthor" ngStyle.gt-sm="padding-bottom: 1.34375em;">Editable</mat-slide-toggle>
    
                                    <mat-form-field appearance="fill">
                                        <mat-label>From</mat-label>
                                        <input matInput formControlName="start" [matDatepicker]="fromPicker">
                                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #fromPicker></mat-datepicker>
                                    </mat-form-field>
        
                                    <mat-form-field appearance="fill">
                                        <mat-label>To</mat-label>
                                        <input matInput formControlName="end" [matDatepicker]="toPicker">
                                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #toPicker></mat-datepicker>
                                    </mat-form-field>
    
                                    <div ngStyle.gt-sm="padding-bottom: 1.34375em;">
                                        <button mat-raised-button color="accent" (click)="resetFilter()">
                                            <mat-icon>settings_backup_restore</mat-icon>
                                            Reset
                                        </button>
                                    </div>
    
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </th>
                </ng-container>
        
    
                <ng-container matColumnDef="titleSearch">
                    <th mat-header-cell *matHeaderCellDef style="max-width: 100px">
                        <mat-form-field style="width: 90%">
                            <mat-label>Search Title</mat-label>
                            <mat-select formControlName="titles" multiple>
                                <mat-option value="ดร.">ดร.</mat-option>
                                <mat-option value="นพ." #male>นพ.</mat-option>
                                <mat-option value="พญ." #female>พญ.</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>
    
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.titles }} </td>
                </ng-container>
        
    
                <ng-container matColumnDef="positionSearch">
                    <th mat-header-cell *matHeaderCellDef style="max-width: 140px">
                        <mat-form-field style="width: 90%">
                            <mat-label>Search Position</mat-label>
                            <mat-select formControlName="position">
                                <mat-option>None</mat-option>
                                <mat-option value="อ.">อาจารย์</mat-option>
                                <mat-option value="ผศ.">ผู้ช่วยศาสตราจารย์</mat-option>
                                <mat-option value="รศ.">รองศาสตราจารย์</mat-option>
                                <mat-option value="ศ.">ศาสตราจารย์</mat-option>
                                <mat-option value="ศ. กิตติคุณ">ศาสตราจารย์กิตติคุณ</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>
    
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.position }} </td>
                </ng-container>
                
    
                <ng-container matColumnDef="fullNameENSearch">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field style="width: 90%">
                            <mat-label>Search English Name</mat-label>
                            <input matInput formControlName="fullNameEN">
                        </mat-form-field>
                    </th>
                </ng-container>
    
                <ng-container matColumnDef="fullNameEN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name (English) </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.fullNameEN }} </td>
                </ng-container>
                
    
                <ng-container matColumnDef="fullNameTHSearch">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field style="width: 90%">
                            <mat-label>Search Thai Name</mat-label>
                            <input matInput formControlName="fullNameTH">
                        </mat-form-field>
                    </th>
                </ng-container>
    
                <ng-container matColumnDef="fullNameTH">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name (Thai) </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.fullNameTH }} </td>
                </ng-container>
    
    
                <ng-container matColumnDef="keywordsSearch">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field style="width: 90%">
                            <mat-label>Search Keywords</mat-label>
                            <mat-chip-list #chipKeywords>
                                <mat-chip *ngFor="let keyword of keywords.value" removable (removed)="removeKeyword(keyword)">
                                    {{ keyword }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add keyword..."
                                    [matChipInputFor]="chipKeywords"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="addKeyword($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </th>
                </ng-container>
                
                <ng-container matColumnDef="keywords">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Keywords </th>
                    <td mat-cell *matCellDef="let entry">
                        <mat-chip-list>
                            <mat-chip *ngFor="let keyword of entry.keywords">
                                {{ keyword }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                        

                <ng-container matColumnDef="reset">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-raised-button color="accent" (click)="resetSearch()">
                            <mat-icon>settings_backup_restore</mat-icon>
                            Reset
                        </button>
                    </th>
                </ng-container>

                <ng-container matColumnDef="lastUpdated">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last updated </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.lastUpdated.toDate() | date: 'dd MMM yy, HH:mm' }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="['filter']"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedSearchColumns"></tr>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseup)="rowClicked(row.$id)"></tr>
    
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width:100%"></mat-paginator>
        </div>
    </div>    
</form>
