<h1 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h1>
<div *ngIf="data.message" mat-dialog-content>{{ data.message }}</div>
<div *ngIf="data.options else noOption"  mat-dialog-actions>
  <button *ngFor="let option of data.options" mat-button [color]="option.color ? option.color : null" [mat-dialog-close]="option.value">{{ option.label }}</button>
</div>
<ng-template #noOption>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</ng-template>